.users-list__item {
  padding: 15px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
}
.users-list__item__img {
  width: 85px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
}
