.userName
{
  text-align: left;

  font-size: 16px;
}

.userAvatar
{
  width: 64px;
  height: 64px;

  margin-right: 24px;

  border-radius: 50%;
}

.userContainer
{
  display: flex;

  flex-direction: row;

  width: 359px;
  height: 96px;

  justify-content: left;
  align-items: center;

  border-bottom: solid rgb(216, 216, 216);
  border-bottom-width: thin;
}

.userListContainer
{
  display: flex;

  justify-content: center;
  align-items: center;
}
